/* GLOBAL */
body {
    margin: 0;
    padding-top: 80px; /* IMPORTANT for fixed navbar */
    font-family: Arial, sans-serif;
    background: #f7f7f7;
}

/* FIXED NAVBAR */
.navbar {
    background: #000;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.logo {
    color: white;
}

.navbar a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
}

.navbar a:hover {
    color: yellow;
}

/* HERO SECTION */
.hero {
    height: 75vh;
    background: url("/hero.jpg") center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 2px 2px 5px black;
}

.hero-text {
    text-align: center;
}

.hero-text h1 {
    font-size: 55px;
}

.hero-text p {
    font-size: 25px;
    margin: 10px 0 20px;
}

.hero-btn {
    background: yellow;
    color: black;
    padding: 12px 30px;
    border-radius: 8px;
    font-weight: bold;
    text-decoration: none;
}
.hero-btn:hover {
    background: white;
}

/* FEATURES */
.features {
    display: flex;
    gap: 25px;
    padding: 40px;
    justify-content: center;
}

.feature-card {
    width: 28%;
    background: white;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    border: 2px solid #ddd;
}

.feature-card img {
    width: 80px;
    margin-bottom: 10px;
}

/* ABOUT */
.about-section {
    padding: 40px;
}

.about-img {
    width: 350px;
    border-radius: 10px;
    margin-top: 20px;
}

/* EVENTS */
.events {
    padding: 40px;
}

.event-container {
    display: flex;
    gap: 20px;
}

.event-card {
    width: 30%;
    background: #fffbe6;
    border: 2px solid #ffd700;
    padding: 20px;
    border-radius: 15px;
}

/* JOIN FORM */
.form-section {
    padding: 40px;
}

form {
    width: 300px;
    padding: 25px;
    background: white;
    border-radius: 10px;
    margin: auto;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
}

button {
    padding: 12px;
    background: black;
    color: white;
    border: none;
}

button:hover {
    background: #444;
}
